
{% load static %}
    <footer class="footer" >
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3 mb-md-0 mb-4">
						<img src="{% static '/assets/images/oh!yeahlogo.jpeg' %}" width="100px">
						<p>Discover Your Perfect Stay<br>Book Your Dream Hotel<br>Escape to Comfort <br>Your Journey Begins Here - Book with confidence, stay with pleasure</p>

					</div>
					<div class="col-md-6 col-lg-3 mb-md-0 mb-4">
						<h2 class="footer-heading">Company</h2>
						<ul class="list-unstyled">
							<a href="/about/"><li>About us</li> </a>
                            <a href="/contact/"><li>Team</li> </a>
                            <a href="/partnerwithus/"><li>Partner With Us</li> </a>
                            <a href="/contact/"><li>Contact Us</li> </a>
						</ul>

					</div>
					<div class="col-md-6 col-lg-3 mb-md-0 mb-4">
						<h2 class="footer-heading">Explore Villas</h2>
						<ul class="list-unstyled" >
                            <a href="/villas/">	<li>Aarya Villa</li></a>
                            <a href="/villas/">	<li>Sanchi Villa</li></a>
                            <a href="/villas/">	<li>Shaurya Villa</li></a>
                            <a href="/villas/">	<li>Retreat Villa</li></a>
						</ul>

					</div>
					<div class="col-md-6 col-lg-3 mb-md-0 mb-4">


            <h2 class="footer-heading mt-5">Follow us</h2>
            <ul class="ftco-footer-social p-0">
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fa fa-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fa fa-instagram"></span></a></li>
            </ul>
					</div>
				</div>
			</div>

		</footer>



  <!-- loader -->


  <script src="{% static '/assets/js/jquery.min.js' %}"></script>
  <script src="{% static '/assets/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static '/assets/js/popper.min.js' %}"></script>
  <script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/assets/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static '/assets/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static '/assets/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static '/assets/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static '/assets/js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static '/assets/js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static '/assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static '/assets/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static '/assets/js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static '/assets/js/google-map.js' %}"></script>
  <script src="{% static '/assets/js/main.js' %}"></script>
  <script src="{% static '/assets/js/script.js' %}"></script>



